<h2>We specialize in the following Florida Mortgage Loans</h2>
<ul id="specList">

  <li>
    Home Purchase Loans
  </li>
  <li>
    Home Refinance Loans
  </li>
  <li>
    Harp 2.0
  </li>
  <li>
    Jumbo Home Loans
  </li>
</ul>
<ul>
  <li>
    FHA Loans
  </li>
  <li>
    VA Loans
  </li>
  <li>
    Cash Out Home Loans
  </li>
  <li>
    And a Whole Lot More 
  </li>
</ul>