<h1>Property Title</h1>
<h4>Year Built: </h4>
<h4>Property Type: </h4>
<h4>Price: </h4>
<h4>Beds: </h4>
<h4>Baths: </h4>
<h4>Square Footage: </h4>
<h4>Additional Features: </h4>
<h2>Property Description</h2>
<p>Property Description Text</p> 
<h4>Address: </h4>
<h4>City: </h4>
<h4>Zip Code: </h4>
