<h2>FHA 203K Loan</h2>
<p>The FHA 203k is a renovation loan program that provides funds for both the purchase and renovation of a home. There are two types of an FHA 203k loan. The first is normal 203k, which is given for properties that need structural repairs such as a new roof or a room addition. The second is the streamlined203k, which is given for non-structural repairs such as painting and new appliances. The minimum Loan Amount is $5000.</p>
<br>
<h2>Harp 2.0</h2>
<p>The HARP 2.0 program is also known as, “Making Home Affordable, the Obama Refi.” The program was created by the Federal Housing Finance Agency in March 2009 to allow those with a loan-to-value ratio exceeding 80% to refinance without paying for mortgage insurance.</p>
<p>In order to be eligible for the HARP refinance program: Your loan must be backed by Fannie Mae or Freddie Mac. Current LTV (loan to value) must be greater than 80%. Must be current with no past due payments in 12 months. Home must have been purchased on or before 5/31/2009.</p>
<br>
<h2>Conventional Loans</h2>
<p>Conventional loans are mortgage loans offered by non-government sponsored lenders. A conventional, or conforming, mortgage adheres to the guidelines set by Fannie Mae and Freddie Mac. It may have either a fixed or adjustable rate.</p>
<p>While many think that a 20% down payment is required for all conventional loans, many lenders now offer low down payment options.</p>
<br>
<h2>Jumbo Loans</h2>
<p>Jumbo Loans exceed the maximum loan amounts established by Fannie Mae and Freddie Mac conventional loan limits. Rates on jumbo loans are typically higher than conforming loans. Jumbo Loans are typically used to buy more expensive homes and high-end custom construction homes. Typically Jumbo Loans require a higher down payment than traditional loans.</p>
<br>
<h2>Types Of Loan Programs Fixed vs Adjustable</h2>
<p>One of the first choices a homebuyer will need to make is whether you want a fixed-rate or an adjustable-rate mortgage loan. The bulk of loans will fit into one of these two categories, however, there is a third option that will allow you to “hybrid” the two.</p>
<p>An adjustable-rate mortgage, (ARM): The interest rate of the mortgage adjusts periodically based on market conditions. For example, your payment will go up if rates go up and go down if rates go down. Fixed-rate Mortgage: Unlike an adjustable-rate mortgage the interest rate is set at the time you take out the loan and will not change. Fixed-rate home loans can be 10 years, 15 years, 20 years or 30 years fixed. 30-year fixed is the most common because it allows your mortgage payment to be the lowest. Hybrid ARM: Features an initial fixed interest rate for a certain amount of time and then becomes an adjustable-rate for the remainder of the term. Standard terms are 3, 5, 7, or 10 yrs.</p>
