/* Mobile */
@media (max-width: 320px) {
    .header-content {
        width: 300px;
        margin-top: 50px;
    }
    .header-content h1 {
        font-size: 5em;
        width: 300px;
        margin-bottom: 15px;
        position: relative;
        left: -4px;
    }
    .header-content p {
        width: 300px;
        position: relative;
        left: -4px;
        line-height: 1.2;
    }
    .btn1 {
        margin-bottom: 10px;
      }
}
@media (max-width: 375px) {
    .header-content {
        margin-top: 30px;
          position: relative;
          left: -7px;
          width: 359px;
          top: 20px;
    }
    .header-content h1 {
        font-size: 7em;
        width: 300px;
        margin-bottom: 15px;
        position: relative;
        left: 21px;
    }
    .header-content p {
        width: 300px;
        position: relative;
        left: 21px;
        line-height: 1.2;
    }
}
@media (max-width: 414px) {
    .header-content {
        width: 380px;
        margin-top: 60px;
        color: gold;
    }
    .header-content h1 {
        font-size: 5em;
        width: 300px;
        margin-bottom: 15px;
        position: relative;
        left: 39px;
    }
    .header-content p {
        width: 300px;
        position: relative;
        left: 40px;
        font-size: 2rem;
        line-height: 1.2;
    }
    .btn1 {
        margin-bottom: 10px;
      }
}

/* Desktop */
.v-header {
    min-height: 40vw;
    display: flex;
    align-items: center;
    color: #fff;
    background-image: url('./../../../../assets/homeHeader.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
    margin-bottom: 80px;
    justify-content: space-around;
  }
.header-content {
    z-index: 2;
    margin-top: 60px;
    color: gold;
}
.header-content h1 {
  font-size: 45px;
  vertical-align: center;
}
.header-content h2 {
    font-size: 28px;
    vertical-align: center;
  }

.header-content p {
  font-size: 20px;
  line-height: 1.2;
  vertical-align: center;
}
.btn {
    background: #343A40;
    color: whitesmoke;
    margin: 2vh 1vw !important;
    padding: 0.6rem 1.3rem;
    border: 2px solid gold;
    font-size: 15px;
  }
  input, textarea {
    border:0; outline:0;
    padding: 1em;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 15px;
    color: orange;
  }