<header class="v-header container">
    <div class="header-content">
        <h1>READY NOW MORTGAGES</h1>
        <h2>Florida's Premier Home Loan Professionals</h2>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#GreatRateModal">Get A Great Rate Now</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CallUsModal">Get A Great Rate Now</button>
        <h2>Questions?</h2>
        <h2>Call (813) 260-0778</h2>
    </div>
</header>
<!-- GreatRateModal -->
<!-- #CallUsModal -->
