<div class="form">
  <h4>Get More Info</h4>
  <form (submit)="submitContact()" #form_data="ngForm">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" name="newContact.first_name" [(ngModel)]="newContact.first_name">
    </div>
    <br>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" name="newContact.last_name" [(ngModel)]="newContact.last_name">
    </div>
    <br>
    <div class="form-group">
      <label for="lastName">Email</label>
      <input type="text" class="form-control" id="email" name="newContact.email" [(ngModel)]="newContact.email">
    </div>
    <br>
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type="text" class="form-control" id="phoneNumber" name="newContact.phone_number" [(ngModel)]="newContact.phone_number">
    </div>
    <div class="form-group-message">
      <label for="message">Message</label>
      <br>
      <input name="message" rows="10" cols="30" class="form-control" id="message" name="newContact.message" [(ngModel)]="newContact.message">
    </div>
    <br>
    <button type="submit" [disabled]="form_data.form.invalid" class="btn big btn-success">Submit</button>
  </form>