<h1>Apply Now</h1>
<h2>With Ready Now, the loan approval process is easy. We offer a variety of secure and convenient application options</h2>
<h2>
  <a routerLink="/onezerothree-form" [ngStyle]="{'border-bottom': homeStyle() ? '1px solid whitesmoke' : 'none'}" id='home'>1. Complete Secure 1003 Application</a>
</h2>
<ul>
  <li>
    Formal Loan Application
  </li>
</ul>
<h2>
  2. Call us at (813) 260-0778
</h2>
<ul>
  <li>
    We will gladly take your application over the phone and assist you with any questions you may have.
  </li>
</ul>
<h2>
  3. Download Application (Fillable PDF Page)
</h2>
<ul>
  <li>
    Download a free application and simply mail it, fax it, or bring it to the office.
  </li>
</ul>
<h2>
  4. Documents Needed
</h2>
<ul>
    <li>
      Copies of pay stubs for each applicant, reflecting a minimum of 30 days of income
    </li>
    <li>
      Names/addresses of employers for two years
    </li>
    <li>
      W-2s for two years
    </li>
    <li>
      One to two years of tax returns
    </li>
    <li>
      A completed and signed Form 4506-T or 4506T-EZ, provided by your Mortgage Banker
    </li>
    <li>
      Bank statements for two to three months
    </li>
    <li>
      If self-employed, year-to-date profit and loss statement, plus signed returns for last two years
    </li>
    <li>
      Proof of pension income, if applicable
    </li>
    <li>
      Social Security and Disability payments, if applicable
    </li>
    <li>
      Dividend earnings
    </li>
    <li>
      Bonuses
    </li>
    <li>
      Child support or alimony payments (optional for you to disclose)
    </li>
    <li>
      A copy of earnest money deposit
    </li>
    <li>
      Information on debts such as car loans, student loans and credit cards
    </li>
    <li>
      Security accounts (stocks, bonds, life insurance)
    </li>
</ul>
