<div class="form">
  <h4>Add a Recommended Professional</h4>
  <form (submit)="submitContact()" #form_data="ngForm">
    <div class="form-group">
      <label for="name_of_professional">Name of Professional</label>
      <input type="text" class="form-control" id="name_of_professional" name="newContact.name_of_professional" [(ngModel)]="newContact.name_of_professional">
    </div>
    <div class="form-group">
      <label for="job_title">Job Title</label>
      <input type="text" class="form-control" id="job_title" name="newContact.job_title" [(ngModel)]="newContact.job_title">
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" name="newContact.address" [(ngModel)]="newContact.address">
    </div>
    <br>
    <div class="form-group">
      <label for="work_phone">Work Phone</label>
      <input type="text" class="form-control" id="work_phone" name="newContact.work_phone" [(ngModel)]="newContact.work_phone">
    </div>
    <div class="form-group">
      <label for="website_url">Website URL</label>
      <input type="text" class="form-control" id="website_url" name="newContact.first_name" [(ngModel)]="newContact.first_name">
    </div>
    <br>
    <div class="form-group">
      <label for="linkedIn_url">LinkedIn Url</label>
      <input type="text" class="form-control" id="linkedIn_url" name="newContact.linkedIn_url" [(ngModel)]="newContact.linkedIn_url">
    </div>
    <br>
    <div class="form-group">
      <label for="facebook_url">Facebook Url</label>
      <input type="text" class="form-control" id="facebook_url" name="newContact.facebook_url" [(ngModel)]="newContact.facebook_url">
    </div>
    <br>
    <div class="form-group">
      <label for="profile_text">Profile Text</label>
      <input type="text" class="form-control" id="profile_text" name="newContact.profile_text" [(ngModel)]="newContact.profile_text">
      <input name="message" rows="10" cols="30" class="form-control" id="message" name="newContact.message" [(ngModel)]="newContact.message">
    </div>
    <br>
    <button type="submit" [disabled]="form_data.form.invalid" class="btn big btn-success">Submit</button>
  </form>