<div class="form">
    <h4>General Information</h4>
    <form (submit)="submitContact()" #form_data="ngForm">
      <div class="form-group">
        <label for="firstName">Property State</label>
        <input type="text" class="form-control" id="firstName" name="newContact.type_of_loan" [(ngModel)]="newContact.type_of_loan">
      </div>
      <div class="form-group">
        <label for="credit_history">Your Credit Profile</label>
        <input type="text" class="form-control" id="credit_history" name="newContact.credit_history" [(ngModel)]="newContact.credit_history">
      </div>
      <div class="form-group">
        <label for="property_value">Type of Home</label>
        <input type="text" class="form-control" id="property_value" name="newContact.property_value" [(ngModel)]="newContact.property_value">
      </div>
      <br>
      <div class="form-group">
        <label for="loan_amount">Are you looking to purchase or refinance?</label>
        <input type="text" class="form-control" id="loan_amount" name="newContact.loan_amount" [(ngModel)]="newContact.loan_amount">
      </div>
      <div class="form-group">
        <label for="loan_amount">Have you already found a property to purchase?</label>
        <input type="text" class="form-control" id="loan_amount" name="newContact.loan_amount" [(ngModel)]="newContact.loan_amount">
      </div>
      <div class="form-group">
        <label for="loan_amount">What is the intended use of the property?</label>
        <input type="text" class="form-control" id="loan_amount" name="newContact.loan_amount" [(ngModel)]="newContact.loan_amount">
      </div>
      <div class="form-group">
        <label for="loan_amount">How long do you plan on keeping the property?</label>
        <input type="text" class="form-control" id="loan_amount" name="newContact.loan_amount" [(ngModel)]="newContact.loan_amount">
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="newContact.first_name" [(ngModel)]="newContact.first_name">
      </div>
      <br>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="newContact.last_name" [(ngModel)]="newContact.last_name">
      </div>
      <br>
      <div class="form-group">
        <label for="lastName">Email</label>
        <input type="text" class="form-control" id="email" name="newContact.email" [(ngModel)]="newContact.email">
      </div>
      <br>
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" class="form-control" id="phoneNumber" name="newContact.phone_number" [(ngModel)]="newContact.phone_number">
      </div>
      <div class="form-group-message">
        <label for="message">Message</label>
        <br>
        <input name="message" rows="10" cols="30" class="form-control" id="message" name="newContact.message" [(ngModel)]="newContact.message">
      </div>
      <br>
      <button type="submit" [disabled]="form_data.form.invalid" class="btn big btn-success">Submit</button>
    </form>