<div class="form">
  <h4>LOGIN</h4>
  <form (submit)="submitContact()" #form_data="ngForm">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" name="newContact.first_name" [(ngModel)]="newContact.first_name">
    </div>
    <br>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" name="newContact.last_name" [(ngModel)]="newContact.last_name">
    </div>
    <br>
    <div class="form-group">
      <label for="lastName">Email</label>
      <input type="text" class="form-control" id="email" name="newContact.email" [(ngModel)]="newContact.email">
    </div>
    <br>
    <div class="form-group">
      <label for="phoneNumber">Login Code</label>
      <input type="text" class="form-control" id="phoneNumber" name="newContact.login_code" [(ngModel)]="newContact.login_code">
    </div>
    <button type="submit" [disabled]="form_data.form.invalid" class="btn big btn-success">Submit</button>
  </form>