<h2>JONH BRADLEY</h2>
<h3>Web and Mobile App Developer</h3>
<h3>Address: 665 S. 10th St.</h3>
<h3>City: San Jose</h3>
<h3>State: CA</h3>
<h3>Zip Code: 95112</h3>
<h3>Work Phone: (650) 561-6520 EXT 101</h3> 
<h2>Profile</h2>
<p>John Bradley leads a team of military Veteran software developers. A tax credit on your first $9,600 of work with us!</p>