
@media only screen and (max-width : 915px) {
	header {
		position: fixed;
	}
	#menu-icon {
		display:inline-block;
	}
	nav ul, nav:active ul {
		display: none;
		position: absolute;
		padding: 20px;
		background: #272733;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
        border-radius: 4px 0 4px 4px;
    }
    li > a {
        color: #ffd701;
    }
	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}
}
header {
	background: #272733;
	width: 100%;
	height: 89px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 4px solid #272733;
	z-index: 100;
}
body {
	font-size: 14px;
	line-height: 2.25em;
	font-family: Helvetica Neue, Helvetica, Arial;
	background: #f9f9f9;
    color: #555;
    height: 59;
}
.activeLinkClass {
	border-bottom: 3px solid whitesmoke;
}
li > a {
	color: #f2f2f2;
	text-decoration: none;
	font-weight: bold;
}
.btn-outline-primary {
    color: #f1f4f7;
}
li > a:hover {
	color: gold;
	text-shadow: 1px 1px 4px rgb(30, 60, 58, 0.66);
}

img {
	width: 100%;
}


#logo{

	margin: 5px;
	float: left;
	width: 179px;
	height: 46px;
	background: url("https://d3frfmbwa1owsh.cloudfront.net/sapperNavOp2.png") no-repeat center;
	display: block;
}

nav {
	float: right;
	padding: 10px;
}

#menu-icon {

	display: hidden;
	width: 40px;
	height: 40px;
	background: #ffd701 url("../../../assets/menu-icon.png") center;
	cursor: pointer;
}
a:hover#menu-icon {

	background-color: #444;
	border-radius: 4px 4px 0 0;

}

ul {

	list-style: none;

}

li {
	display: inline-block;
	padding-left: 8%;
}
.current {

	color: #2262AD;
}

section {

	margin: 80px auto 40px;
	max-width: 980px;
	position: relative;
	padding: 20px
}
p {
	color: gold;
	line-height: 1.45em;
	margin-bottom: 20px;
}
