<body>
  <header>
    <span id="logo"></span>
    <nav>
      <span id="menu-icon" (click)="click()"></span>
      <ul id="check_box">
        <li>
          <a routerLink="/home" [ngStyle]="{'border-bottom': homeStyle() ? '1px solid whitesmoke' : 'none'}" id='home'>Home</a>
        </li>
        <li>
          <a routerLink="/todays-rates" id='rates' [ngStyle]="{'border-bottom': ratesStyle() ? '1px solid whitesmoke' : 'none'}">TODAY'S RATES</a>
        </li>
        <li>
          <a routerLink="/va-loans" id='va' [ngStyle]="{'border-bottom': vaStyle() ? '1px solid whitesmoke' : 'none'}">VA HOME LOANS</a>
        </li>
        <li>
          <a routerLink="/refinance-advisor" id='refinance' [ngStyle]="{'border-bottom': refinanceStyle() ? '1px solid whitesmoke' : 'none'}">REFINANCE ADVISOR</a>
        </li>
        <li>
          <a routerLink="/real-estate" id='estate' [ngStyle]="{'border-bottom': estateStyle() ? '1px solid whitesmoke' : 'none'}">REAL ESTATE</a>
        </li>
      </ul>
      <ul>
        <li>
          <button routerLink="/home" type="button" class='btn btn btn-outline-primary'>TRADUCIR A ESPANOL</button>
        </li>
        <li>
          <a routerLink="/loan-options" id='loan' [ngStyle]="{'border-bottom': loanStyle() ? '1px solid whitesmoke' : 'none'}">LOAN OPTIONS</a>
        </li>
        <li>
          <a routerLink="/apply-now" id='apply' [ngStyle]="{'border-bottom': applyStyle() ? '1px solid whitesmoke' : 'none'}">APPLY NOW</a>
        </li>
        <li>
          <a routerLink="/find-a-realtor" id='realtor' [ngStyle]="{'border-bottom': realtorStyle() ? '1px solid whitesmoke' : 'none'}">FIND A REALTOR</a>
        </li>
        <li>
          <a routerLink="/recommended-pros" id='recommended' [ngStyle]="{'border-bottom': recommendedStyle() ? '1px solid whitesmoke' : 'none'}">RECOMMENDED PROFESSIONALS</a>
        </li>
      </ul>
    </nav>
  </header>
</body>

