<h2>THE READY NOW MORTGAGE DIFFERENCE</h2>
<ul>
  <li>
    A 30 Second Form
  </li>
  <li>
    We Don't Need Your SSN
  </li>
  <li>
    We Don't Need Your Credit Card
  </li> 
  <li>
    Your Info is Kept Private
  </li>
  <li>
    Zero Cost
  </li>
  <li>
    Zero Obligation
  </li>
  <li>
    Zero Hassle
  </li>
</ul>