<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#HomeSearchModal">Home Search</button>
<button type="button" class="btn btn-primary" routerLink="" data-target="#HomeSearchModal">VA Home Loans</button>
<button type="button" class="btn btn-primary" routerLink="" data-target="#HomeSearchModal">Tampa Areas of Interest!</button>
<button type="button" class="btn btn-primary" routerLink="" data-target="#HomeSearchModal">Featured Properties</button>
<button type="button" class="btn btn-primary" routerLink="" data-target="#HomeSearchModal">Home Value Comparisons</button>


<!-- HomeSearchModal -->