* {
    box-sizing: border-box;
  }
html,  body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.97vw;
    line-height: 1.42857143vw;
    color: #333;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: grid;
}
div {
    display: block;
}
h1, h2, p {
    text-shadow: 1px 1px 4px rgb(30, 60, 58, 0.66);
    line-height: 3pc;
}