<div class="form">
  <h4>Edit a Real Estate Listing</h4>
  <form (submit)="submitContact()" #form_data="ngForm">
    <div class="form-group">
      <label for="city">City (Select a City or Add Your City):</label>
      <input type="text" class="form-control" id="city" name="newContact.city" [(ngModel)]="newContact.city">
    </div>
    <div class="form-group">
      <label for="features">Additional Features</label>
      <input type="text" class="form-control" id="features" name="newContact.features" [(ngModel)]="newContact.features">
    </div>
    <div class="form-group">
      <label for="property_type">Property Type</label>
      <input type="text" class="form-control" id="property_type" name="newContact.property_type" [(ngModel)]="newContact.property_type">
    </div>
    <br>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="text" class="form-control" id="price" name="newContact.price" [(ngModel)]="newContact.price">
    </div>
    <div class="form-group">
      <label for="beds"># of Beds:</label>
      <input type="text" class="form-control" id="beds" name="newContact.beds" [(ngModel)]="newContact.beds">
    </div>
    <br>
    <div class="form-group">
      <label for="baths"># of Baths:</label>
      <input type="text" class="form-control" id="baths" name="newContact.baths" [(ngModel)]="newContact.baths">
    </div>
    <br>
    <div class="form-group">
      <label for="square_footage">Square Footage: </label>
      <input type="text" class="form-control" id="square_footage" name="newContact.square_footage" [(ngModel)]="newContact.square_footage">
    </div>
    <br>
    <div class="form-group">
      <label for="active_sold">Active or Sold</label>
      <input type="text" class="form-control" id="active_sold" name="newContact.active_sold" [(ngModel)]="newContact.active_sold">
    </div>
    <br>
    <div class="form-group">
      <label for="property_description">Property Description</label>
      <input type="text" class="form-control" id="property_description" name="newContact.property_description" [(ngModel)]="newContact.property_description">
      <input name="property_description" rows="10" cols="30" class="form-control" id="property_description" name="newContact.property_description" [(ngModel)]="newContact.property_description">
    </div>
    <br>
    <button type="submit" [disabled]="form_data.form.invalid" class="btn big btn-success">Submit</button>
  </form>